/* Estilo para o corpo do documento */
body {
    font-family: Arial, Helvetica, sans-serif; /* Define a família de fontes */
    background-image: linear-gradient(45deg, #0000FF, WHITE); /* Imagem de fundo */
}

/* Estilo para o container de login */
div {
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo */
    position: absolute; /* Posicionamento absoluto */
    top: 50%; /* Alinha ao meio verticalmente */
    left: 50%; /* Alinha ao meio horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza */
    padding: 80px; /* Espaçamento interno */
    border-radius: 15px; /* Borda arredondada */
    color: white; /* Cor do texto */
}

/* Estilo para os campos de entrada */
input {
    padding: 15px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    outline: none; /* Remove o contorno */
    font-size: 15px; /* Tamanho da fonte */
}

/* Estilo para o botão de login */
button {
    background-color: dodgerblue; /* Cor de fundo */
    border: none; /* Remove a borda */
    padding: 15px; /* Espaçamento interno */
    width: 100%; /* Largura total */
    border-radius: 10px; /* Borda arredondada */
    color: white; /* Cor do texto */
    font-size: 15px; /* Tamanho da fonte */
    cursor: pointer; /* Altera o cursor */
}

/* Estilo para o hover do botão */
button:hover {
    background-color: deepskyblue; /* Cor de fundo ao passar o mouse */
}